<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead">
</head>
<body th:fragment="mainBody" style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap">
  <!-- header -->
  <div th:replace="common/header :: headerDiv">
  </div>
  <div class="body_wrap">

    <div id="content_wrap">
      <div id="list_wrap">
        <div class="panel_inner">
          <form id="qna_form" method="GET">
            <input type="hidden" name="qnaNo" th:value="${not #strings.isEmpty(qnaDetail)} ? ${qnaDetail.qnaNo} : 0">
            <input type="hidden" id="id" name="username" th:value="${#authentication.name}" >
            <div class="input_div">
              <input class="input_row lm_row" id="qna_title" type="text" name="title" placeholder="제목" th:value="${not #strings.isEmpty(qnaDetail)} ? ${qnaDetail.title} : ''" required> <br>
            </div>
            <div class="input_div">
              <select th:name="categoryNo">
                <option value="0">선택</option>
                <option th:each="category : ${categoryList}" th:value="${category.categoryNo}" th:utext="${category.categoryName}"></option>
              </select>
            </div>
            <div class="input_div">
              <textarea name="content" cols="82" rows="20" id="qna_content" th:text="${not #strings.isEmpty(qnaDetail)} ? ${qnaDetail.content} : ''" placeholder="10자 이상 작성해주세요." style="resize:none; border: 1px solid #ced4da; border-radius:0.25rem;" required></textarea>
            </div><br>
            <div class="input_div"><button class="submit-button" type="button" id="postBtn">등록</button></div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- footer -->
  <footer th:replace="common/footer :: footer"></footer>
  <script>
    $(function() {

      $("#postBtn").click(function(){
        let qnaNo = $('input[name=qnaNo]').val();
        let categoryNo = $('input[name=categoryNo]').val();

        if(categoryNo == '0') {
          alert("카테고리를 선택해주세요.");
          return false;
        }

        if(qnaNo > 0){
            $("#qna_form").attr("action","/qna/qnaUpdate").submit();
        }else{
            $("#qna_form").attr("action","/qna/insertQna").submit();
        }
      });



    });
  </script>
</div>
</body>
</html>