<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead">
</head>
<body style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap">
  <!-- header -->
  <div th:replace="common/header :: headerDiv">
  </div>
  <div class="body_wrap">
    <div class="Accordion_wrap"  th:each="allPost : ${allPostList}" th:if="${not #strings.isEmpty(allPostList)}">
      <div id="list_wrap">
        <div style="float:left; width:15%; border-right: 1px solid #dddddd; margin:0px 15px;">
          <span th:text="${#temporals.format(allPost.createdDate, 'yyyy-MM-dd')}"></span>
        </div>
        <div class="que">
          <span th:text="${allPost.title}"></span>
        </div>
        <div class="detail_wrap">
          <span th:text="${allPost.content}"></span>
        </div>
      </div>
    </div>
    <div class="Accordion_wrap" th:unless="${not #strings.isEmpty(allPostList)}">
      <span style="text-align:center;">조회된 데이터가 없습니다.</span>
    </div>
  </div>

  <!-- footer -->
  <footer th:replace="common/footer :: footer"></footer>
</div>
<script>
  $(function(){
    $("#datatable-default tbody tr").click(function(){
      location.href="detailPost?pno=" + $(this).children().eq(0).text();
    });

    /*
    * 제목 클릭 시, 본문 내용이 보여진다.
    * 다른 본문 내용을 클릭하는 경우 이미 열린 본문 내용을 닫는다.
    */
    $(".que").click(function() {

      if ($(this).hasClass('on')) {
          slideUp();
      } else {
          slideUp();
          $(this).addClass('on').next().slideDown();
      }

      function slideUp() {
          $(".que").removeClass('on').next().slideUp();
      };

    });

  });
</script>
</body>
</html>