<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead">
</head>
<body style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap" style="background-color: #fff;">
  <!-- header -->
  <div th:replace="common/header :: headerDiv"></div>

  <!-- body-->
  <div class="body_wrap">
    <div class="panel_btn">
      <button class="nm_btn" style="float:right;" th:onclick="|location.href='@{/post/postForm}'|">작성하기</button>
    </div>

    <div th:each="myPostList : ${allPostList}" class="Accordion_wrap" th:if="${not #strings.isEmpty(myPostList)}">

      <div id="list_wrap">
        <div style="float:left; width:15%; border-right: 1px solid #dddddd; margin:0px 15px;">
          <span th:text="${#temporals.format(allPostList.createdDate, 'yyyy-MM-dd')}"></span>
        </div>
        <div class="que">
          <span th:text="${allPostList.title}"></span>
        </div>
        <div class="detail_wrap">
          <span> 테스트 테스트 테스트 이거 투두리스트처럼 만들 수 있으면 좋을텐데 detail 조회까지 해와야함 </span>
        </div>
      </div>

    </div>


    <div class="Accordion_wrap" th:unless="${#strings.isEmpty(myPostList)}">
      <span style="text-align:center;">조회된 데이터가 없습니다.</span>
    </div>

  </div>

  <!-- footer -->
  <footer th:replace="common/footer :: footer"></footer>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
  $(".que").click(function() {
    $(this).next(".detail_wrap").stop().slideToggle(300);
    $(this).toggleClass('on').siblings().removeClass('on');
    $(this).next(".detail_wrap").siblings(".detail_wrap").slideUp(300); // 1개씩 펼치기
  });
</script>
</body>
</html>