<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead">
</head>
<body style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap">
  <!-- header -->
  <div th:replace="common/header :: headerDiv"></div>

  <!-- body-->
  <div class="body_wrap">

    <div id="content_wrap">

      <!-- btn div -->
      <div class="panel_btn">
        <button class="bl_btn" style="float:right;" th:onclick="|location.href='@{/post/postForm}'|">작성하기</button>
      </div>

      <!-- content start-->
      <div id="list_wrap">

        <div class="Accordion_wrap"  th:each="post : ${posts}" th:if="${not #strings.isEmpty(posts)}">
          <div style="float:left; width:15%; border-right: 1px solid #dddddd; margin:0px 15px;">
            <span id="postNo" th:text="${post.postNo}" style="width:5%; padding-right:10px;"></span>
            <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd')}"></span>
          </div>
          <div class="que on">
            <span th:text="${post.title}"></span>
          </div>
          <div class="detail_wrap_on">
            <span th:text="${post.content}"></span>
          </div>
        </div>

        <div class="Accordion_wrap" th:unless="${not #strings.isEmpty(posts)}">
          <span style="text-align:center;">조회된 데이터가 없습니다.</span>
        </div>
      <!-- content end-->
      </div>

    </div>

  </div>

  <!-- footer -->
  <footer th:replace="common/footer :: footer"></footer>
</div>

</body>
</html>
<script>
$(function(){
  /*
  * 스크롤 하는 경우에 페이징처리 한다.
  * 맨 마지막 lastPostId를 전달한다.
  */
  $(window).scroll(function(){

      if (Math.round( $(window).scrollTop()) == $(document).height() - $(window).height()) {

        moreList();

      };
  });

  function moreList() {

      const defaultArticlePaginationSize = 5;
      const postArr = document.querySelectorAll('#postNo');
      const userId =  $("#userid_nav").text();

      // 현재 DOM에 그려진 게시물 중 가장 작은 id 값을 추려낸다.
      const lastArticleId = Array.from(postArr).map(function (post) {
                              return parseInt(post.innerHTML, 10);
                            }).reduce(function (previous, current) {
                              return previous > current ? current : previous;
                            });

      fetchPostPages(lastArticleId, defaultArticlePaginationSize, userId);

  };

  function fetchPostPages(lastArticleId, defaultArticlePaginationSize, userId) {

    var search_var;

    $.ajax({
      type: "GET",
      url: "/post/myPostList",
      data: {
          "lastPostId": lastArticleId,
          "size" : defaultArticlePaginationSize,
          "userId" : userId,
          "flag" : "my"
      },
      success: function (list) {

        console.log(list); // data를 console.log로 확인한다.
        console.log(typeof(list)); // 가져온 data의 type 확인한다.

     //   const postArr = list.querySelectorAll('.Accordion_wrap');



        $('.Accordion_wrap').append(replyDiv);

//        document.documentElement.innerHTML = list;


      },
      error: function () {

      }
    });


  }

});
</script>
