<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead">
</head>
<body style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap" style="background-color: #fff;">
  <!-- header -->
  <div th:replace="common/header :: headerDiv">
  </div>
  <div class="body_wrap">
    <div class="Accordion_wrap"  th:each="myPost : ${myPostList}" th:if="${not #strings.isEmpty(myPostList)}">
      <div id="list_wrap">
        <div style="float:left; width:15%; border-right: 1px solid #dddddd; margin:0px 15px;">
          <span th:text="${#temporals.format(myPost.createdDate, 'yyyy-MM-dd')}"></span>
        </div>
        <div class="que">
          <span th:text="${myPost.title}"></span>
        </div>
        <div class="detail_wrap">
          <span> 테스트 테스트 테스트 이거 투두리스트처럼 만들 수 있으면 좋을텐데 detail 조회까지 해와야함 테스트 테스트 테스트 이거 투두리스트처럼 만들 수 있으면 좋을텐데 detail 조회까지 해와야함</span>
        </div>
      </div>
    </div>
    <div class="Accordion_wrap" th:unless="${not #strings.isEmpty(myPostList)}">
      <span style="text-align:center;">조회된 데이터가 없습니다.</span>
    </div>
  </div>

  <!-- footer -->
  <footer th:replace="common/footer :: footer"></footer>
</div>
<script>
  $(function(){
    $("#datatable-default tbody tr").click(function(){
      location.href="detailPost?pno=" + $(this).children().eq(0).text();
    });
  });
</script>
</body>
</html>