<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead">
</head>
<body th:fragment="mainBody" style="background-color:#661BD1;">
<div class="totalWrap upload">
  <!-- header -->
  <div th:replace="common/header :: headerDiv">
  </div>
  <div class="body_wrap">
    <div id="content_wrap">
      <div id="list_wrap">
        <div class="panel_inner">
          <form th:action="@{/post/savePost}" method="GET">
            <div class="input_div">
              <span>비밀글</span>
              <input type="checkbox" id="pCheck" name="lockYn" value="Y"> <br>
            </div>
            <div class="input_div">
              <input class="input_row ll_row" id="ptitle" type="text" name="title" placeholder="제목" required> <br>
            </div>
            <div class="input_div">
              <textarea name="content" id="pcontent" cols="82" rows="20" placeholder="내용" style="resize:none; border: 1px solid #ced4da; border-radius:0.25rem;" required></textarea>
            </div><br>
            <input type="hidden" name="username" th:value="${#authentication.name}" >
            <div class="input_div"><button class="submit-button" type="submit" id="postBtn">작성 완료!</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer th:replace="common/footer :: footer"></footer>
<script>
$(function() {

  /*
  * 나의 다짐 작성 전 validation을 체크한다.
  */
  $("#postBtn").on("click", function() {
    let title   = $("#ptitle").val();
    let content = $("#pcontent").val();

    if(title.length <= 5){
      alert("제목을 5자 이상 입력해주세요");
      return false;
    }
    if(content.length <= 0){
       alert("내용을 입력해주세요");
       return false;
    }

  });

});
</script>
</div>
</body>
</html>