<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="mainHead">
    <link rel="stylesheet" th:href="@{/assets/common2.css}">
    <link rel="stylesheet" th:href="@{/assets/reset2.css}">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Dream of Whale</title>
</head>
<body>
<div th:fragment="headerDiv">

    <div class="menu_bg" id="nav">
        <div class="offcanvas-header" style="padding:5px 0px;">
            <button type="button" id="btn-close" class="text-reset" style="float: right; margin:0px 10px;">
                <span><img th:src="@{/assets/images/close.png}" width="10px" height="10px"></span>
            </button>
        </div>
        <div class="nav_loginUser" style="text-align:center; padding:5px 0px; font-size:12px;">
            <span sec:authentication="principal.user.nickname" style="display:inline-block;"></span>
            <span style="font-weight:bold;">님
            <img th:src="@{/assets/images/starfish.png}" width="10px" height="10px">
             </span>
        </div>
        <div class="offcanvas-body" style="padding:20px">
            <ul>
                <li><a th:href="@{/myInfo/myForm}">내정보</a></li>
                <li><a th:href="@{/post/myPostList}">나의 올해다짐</a></li>
                <li><a th:href="@{/post/allPostList}">모두 올해다짐</a></li>
                <li><a th:href="@{/qna/qnaListView}">QNA</a></li>
                <li></li>
                <li><a th:href="@{/account/logout}">로그아웃</a></li> <!-- 원래 소스 -->
                <form th:action="@{/account/logout}" method="POST"> <!-- 추가 소스 -->
                    <input type="submit" value="로그아웃"/>
                </form> <!-- a 태그처럼,,, -->
            </ul>
        </div>
    </div>

    <!-- content -->
    <div class="totalHeader">
        <button type="button" id="menu_btn" style="float: right; margin:5px 5px;">
            <span class=""><img th:src="@{/assets/images/menu_bar.png}" width="30px" height="30px"></span>
        </button>
        <div class="logo" style="text-align: center; padding-top:40px; margin-bottom:40px;">
            <img th:src="@{/assets/images/whale_black_sprite.png}" alt="" width="50px" height="50px">
        </div>
    </div>


</div>
</body>
</html>