<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="mainHead">
    <link rel="stylesheet" th:href="@{/assets/common2.css}">
    <link rel="stylesheet" th:href="@{/assets/reset2.css}">
    <meta charset="UTF-8">
    <title>Dream of Whale</title>
    <style>
    /* nav */
      #nav {
        position: fixed;
        z-index: 10;
        top : 60px;
        right : -100%;
        width : 75%;
        max-width : 300px;
        height : calc(100% - 60px);
        padding : 50px 0;
        transition: all 500ms ease;
      }
      #nav.act {
        right : 0;
      }
      span {display:block;}
    </style>
</head>
<body>
<div th:fragment="headerDiv">
    <nav th:replace="common/nav :: navigation"></nav>
    <!-- content -->
    <div class="totalHeader">
        <div class="logo" style="text-align: center; margin-top:40px; margin-bottom:40px;">
            <img th:src="@{/assets/images/whale_black_sprite.png}" alt="" width="50px" height="50px">
        </div>
        <button onclick="ShowMenu();" class="" type="button" data-toggle="offcanvas" style="float: right;">
            <span class=""><img th:src="@{/assets/images/ham.png}" width="30px" height="30px"></span>
        </button>
    </div>
</div>
</body>
</html>