<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/extras/spring-security" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: mainHead">
</head>
<body th:replace="login/login :: mainBody">

<!--    <a th:href="@{/main/login}" sec:authorize="!isAuthenticated()">Login</a>-->
<!--    <a th:href="@{/main/register}" sec:authorize="!isAuthenticated()">Sign Up</a>-->

<!--    <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">-->
<!--        <span sec:authentication="name">사용자</span>-->
<!--        <span sec:authentication="principal.authorities">권한</span>-->
<!--        <button type="submit">Logout</button>-->
<!--    </form>-->

</body>
</html>