<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead">
</head>
<body th:fragment="mainBody" style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap" style="background-color: #fff;">
    <!-- header -->
    <div th:replace="common/header :: headerDiv">
    </div>
    <button type="submit" th:action="@{/account/logout}" style="color:#a01a1f;">로그아웃</button>
    <div class="Accordion_wrap" th:if="${not #strings.isEmpty(myPostList)}" th:each="myPost : ${myPostList}">
        <div id="list_wrap">
            <div style="float:left; width:15%; border-right: 1px solid #dddddd; margin:0px 15px;">
                <span th:text="${#temporals.format(myPost.createdDate, 'yyyy-MM-dd')}"></span>
            </div>
            <div class="que">
                <span th:text="${myPost.title}"></span>
            </div>
            <div class="detail_wrap">
                <span th:text="${myPost.content}"></span>
            </div>
        </div>
    </div>
    <div class="Accordion_wrap" th:unless="${not #strings.isEmpty(myPostList)}">
        <span style="text-align:center;">조회된 데이터가 없습니다.</span>
    </div>

    <!-- footer -->
    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>
