<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <div class="totalWrap upload" id="totalWrap">
        <!--header-->
        <div th:replace="common/header :: headerDiv"></div>
        <div class="panel_inner">
          <form th:action="@{/main/register}" method="POST">
              <table class="content-table">
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                  <tr>
                      <td height="45px"><input class="input-row" type="text" name="username" placeholder="아이디"></td> <br>
                  </tr>
                  <tr>
                      <td height="45px"><div class=""><input class="input-row" type="password" name="password" placeholder="패스워드"></div></td> <br>
                  </tr>
                  <tr>
                      <td height="45px"><div class=""><input class="input-row" type="email" name="email" placeholder="이메일"></div></td> <br>
                  </tr>
            <button type="submit">Sign up</button>
              </table>
          </form>
        </div>
        <!--footer-->
        <footer th:replace="common/footer :: footer"></footer>
    </div>
</body>
</html>