<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead"></head>
<body style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap">
    <!-- header -->
    <div th:replace="common/header :: headerDiv"></div>

    <!-- body-->
    <div class="body_wrap">
        <div id="content_wrap">
            <div style="padding:10px 50px;">
                <h2>회원탈퇴</h2>
                <hr>
                <div>
                    <div class="leaveAccount">
                        <h2>회원 탈퇴 시 모든 개인정보는 30일 이후 삭제됩니다. 삭제하시겠습니까?</h2>
                    </div>
                </div>
                <form role="form">
                    <input type="hidden" id="userNo" th:value="${userNo}">
                    <div class="form-group">
                        <label for="recentPwd">현재 비밀번호</label>
                        <input type="password" class="input_row inline_div middle_row" id="recentPwd">
                    </div>
                    <div class="form-group">
                        <label for="confirmPwd">확인 비밀번호</label>
                        <input type="password" class="input_row inline_div middle_row" id="confirmPwd">
                    </div>
                </form>
                <div>
                    <span id="confirmMsg"></span>
                </div>
                <div style="text-align: center;">
                    <button class="nm_btn center_btn" id="leaveAcnt">회원탈퇴</button>
                    <button class="nm_btn center_btn" onclick="history.back()">취소</button>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="common/footer :: footer"></footer>

    <!-- body end -->
    </div>

</div>

<script type="text/javascript">
$(function(){

    let confirmPwd =  "";
    let recentPwd  =  "";
    let confirmMsg =  "";

    /*
    * 현재 비밀번호와 확인 비밀번호 간 일치여부를 확인한다.
    */
    function confirmFunction() {
        confirmPwd = $("#confirmPwd").val();
        recentPwd  = $("#recentPwd").val();
        confirmMsg = "";

        if(confirmPwd != recentPwd){
            confirmMsg = "비밀번호가 일치하지 않습니다.";
        }

        // 일치여부 메세지를 출력한다.
        $("#confirmMsg").text(confirmMsg);
    };

    $("#confirmPwd").keyup(function(){
        confirmFunction();
    });

    $("#recentPwd").keyup(function(){
        confirmFunction();
    });

    /*
    * 비밀번호가 일치하는 경우 회원탈퇴를 진행한다.
    */
    $("#leaveAcnt").on("click", function(){

        // 비밀번호 미입력 시 오류를 발생시킨다.
        if(confirmPwd.length <= 0 || recentPwd.length <= 0) {
            alert("비밀번호를 다시 입력해주세요.");
            return false;
        }

        // 비밀번호 일치여부 확인 후 회원탈퇴 + 로그아웃
        // 1. 메세지 맞지 않은 경우 오류 메세지 필요
        // 2. 세션에 username 있나?
        // 3. 정상 처리 후 로그아웃
        if(confirmMsg.length == 0){
            $.ajax({
                type: "GET",
                url: "/account/leaveAcnt",
                data: {
                    "password": confirmPwd,
                    "id": $("#userNo").val()
                },
                success: function () {
                    window.location.href = "/";
                },
                error: function () {
                    alert("잘못된 비밀번호입니다.");
                    $("#confirmPwd").empty();
                    $("#recentPwd").empty()
                }
            });
        }else{
            alert("비밀번호를 다시 입력해주세요.");
            return false;
        }

    });

});
</script>
</body>
</html>