<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: mainHead"></head>
<body style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap" style="background-color: #fff;">
    <!-- header -->
    <div th:replace="common/header :: headerDiv"></div>

    <!-- body-->
    <div class="body_wrap">

        <div class="find_wrap">
            <h2>내정보</h2>
            <hr>
            <form th:action="@{/myInfo/dlrjanjfkrhgody}" method="get">
                <input type="hidden" id="userNo" th:value="${userNo}">
                <div class="input_div">
                    <label for="userName">아이디</label>
                    <input class="input_row inline_div middle_row" id="userName" type="text" name="username" th:value="${myInfo.username}" disabled> <br>
                </div>
                <div class="input_div">
                    <label for="nickName">닉네임</label>
                    <input class="input_row inline_div middle_row" id="nickName" type="text" name="nickname" placeholder="닉네임" th:value="${myInfo.nickname}">
                    <button class="nm_btn" type="submit" id="modifyNickname">수정</button><br>
                </div>
                <div class="input_div">
                    <label for="email">이메일</label>
                    <input class="input_row inline_div middle_row" id="email" type="text" name="email" th:value="${myInfo.email}" disabled> <br>
                </div>
            </form>
            <div style="text-align: center;">
                <button class="nm_btn center_btn" th:onclick="|location.href='@{/myInfo/leaveAccount}'|">회원탈퇴</button>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="common/footer :: footer"></footer>


    <!-- body end -->
    </div>

</div>
<script>
$(function(){
    $(".modifyNickname").on("click", function(){

        let nickname = $(".nickName").val(); // nickname

        if(nickname.length <= 0){
            alert("닉네임을 입력해주세요.");
            return false;
        }
    });

});

</script>
</body>
</html>