<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <div>
        <h4>비밀번호 찾기</h4>
        <div style="color: #ac2925">
            <center>비밀번호 변경</center>
        </div>
        <hr>
        <form>
            <input type="hidden" id="userNo" th:value="${userNo}">
            <div class="form-group">
                <label for="orgPw">임시 비밀번호</label>
                <input type="password" id="orgPw" placeholder="발급받은 임시 비밀번호 입력">
            </div>
            <div class="form-group">
                <label for="newPw">변경할 비밀번호</label>
                <input type="password" id="newPw" placeholder="변경할 비밀번호 입력">
            </div>
            <div class="form-group">
                <label for="reNewPw">변경할 비밀번호 재입력</label>
                <input type="password" id="reNewPw" placeholder="변경할 비밀번호 다시 한번 입력">
            </div>
            <button class="nm_btn" type="button" id="changePw">변경하기</button>
        </form>
        <div>
            <span id="confirmMsg"></span>
        </div>
        <hr>
    </div>
    <div>
        <button type="submit" th:onclick="|location.href='@{/main/main}'|">다음에 변경하기</button>
    </div>
</div>
<script type="text/javascript">
$(function() {

    let orgPw = "";
    let newPw = "";
    let reNewPw = "";
    let confirmMsg = "";
    let userNo = $("#userNo").val();

    function confirmFunction() {
        newPw = $("#newPw").val();
        reNewPw = $("#reNewPw").val();

        if (newPw != reNewPw) {
            confirmMsg = "비밀번호가 일치하지 않습니다.";
        } else {
            confirmMsg = "";
        }

        $("#confirmMsg").text(confirmMsg);
    };

    $("#newPw").keyup(function(){
        confirmFunction();
    });

    $("#reNewPw").keyup(function(){
        confirmFunction();
    });

    $("#changePw").click(function () {
        orgPw = $("#orgPw").val();
        newPw = $("#newPw").val();

        if(newPw.length <= 0 || reNewPw.length <= 0) {
            alert("비밀번호를 다시 입력해주세요.");
            return false;
        }

        if(confirmMsg.length == 0){
            $.ajax({
                type: "GET",
                url: "/account/changePw",
                data: {
                    "orgPw": orgPw,
                    "newPw": newPw,
                    "id": userNo
                },
                success: function () {
                    window.location.href = "/";
                },
                error: function () {
                    alert("잘못된 비밀번호입니다.");
                    $("#orgPw").val("");
                    $("#newPw").val("");
                    $("#reNewPw").val("");
                }
            });
        }

    });
});
</script>
</body>
</html>