<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head th:replace="common/header :: mainHead"></head>
<body style="background-color:#661BD1;">
<div class="totalWrap upload" id="totalWrap">

    <div th:replace="common/mainHeader :: headerDiv"></div>

    <div class="body_wrap">

        <!-- body -->
        <div class="find_wrap">

            <div>
                <h4>비밀번호 찾기</h4>
                <hr>
                <form>
                    <input type="hidden" id="userNo" th:value="${userNo}">
                    <div class="label_span">
                        <span>임시 비밀번호</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="input_row large_row" id="orgPw" placeholder="발급받은 임시 비밀번호 입력">
                    </div>
                    <div class="label_span">
                        <span>변경할 비밀번호</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="input_row large_row" id="newPw" placeholder="변경할 비밀번호 입력">
                    </div>
                    <div class="label_span">
                        <span>변경할 비밀번호 재입력</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="input_row large_row" id="reNewPw" placeholder="변경할 비밀번호 다시 한 번 입력">
                    </div>
                </form>
                <div>
                    <span id="confirmMsg"></span>
                </div>
                <hr>
            </div>
            <div class="panel_btn" style="text-align: center;">
                <button class="bl_btn center_btn" type="button" id="changePw">변경하기</button>
                <button class="nm_btn center_btn" type="submit" th:onclick="|location.href='@{/main/main}'|">다음에변경하기</button>
            </div>

        </div>

    </div>
</div>
<script type="text/javascript">
$(function() {

    let orgPw = "";
    let newPw = "";
    let reNewPw = "";
    let confirmMsg = "";
    let userNo = $("#userNo").val();

    function confirmFunction() {
        newPw = $("#newPw").val();
        reNewPw = $("#reNewPw").val();

        if (newPw != reNewPw) {
            confirmMsg = "비밀번호가 일치하지 않습니다.";
        } else {
            confirmMsg = "";
        }

        $("#confirmMsg").text(confirmMsg);
    };

    $("#newPw").keyup(function(){
        confirmFunction();
    });

    $("#reNewPw").keyup(function(){
        confirmFunction();
    });

    $("#changePw").click(function () {
        orgPw = $("#orgPw").val();
        newPw = $("#newPw").val();

        if(newPw.length <= 0 || reNewPw.length <= 0) {
            alert("비밀번호를 다시 입력해주세요.");
            return false;
        }

        if(confirmMsg.length == 0){
            $.ajax({
                type: "GET",
                url: "/account/changePw",
                data: {
                    "orgPw": orgPw,
                    "newPw": newPw,
                    "id": userNo
                },
                success: function () {
                    window.location.href = "/";
                },
                error: function () {
                    alert("잘못된 비밀번호입니다.");
                    $("#orgPw").val("");
                    $("#newPw").val("");
                    $("#reNewPw").val("");
                }
            });
        }

    });
});
</script>
</body>
</html>