<!DOCTYPE html>
<script xmlns:sec="http://www.w3.org/1999/xhtml"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <h4><span class="glyphicon glyphicon-lock"></span> 비밀번호 찾기</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div style="color: #ac2925">
                        <center>비밀번호 변경</center>
                    </div>
                    <hr>
                    <form role="form">
                        <div class="form-group">
                            <label for="orgPw"><span class="glyphicon glyphicon-user"></span>임시 비밀번호</label>
                            <input type="password" class="form-control" id="orgPw" placeholder="발급받은 임시 비밀번호 입력">
                        </div>
                        <div class="form-group">
                            <label for="newPw"><span class="glyphicon glyphicon-eye-open"></span>변경할 비밀번호</label>
                            <input type="password" class="form-control" id="newPw" placeholder="변경할 비밀번호 입력">
                        </div>
                        <div class="form-group">
                            <label for="ReNewPw"><span class="glyphicon glyphicon-eye-open"></span>변경할 비밀번호 재입력</label>
                            <input type="password" class="form-control" id="ReNewPw" placeholder="변경할 비밀번호 다시 한번 입력">
                        </div>
                        <div><input type="hidden" id="username" th:value="${#authentication.name}" th:name="*{fieldName}"></div>
                        <button type="button" class="btn btn-success btn-block" id="changePw">변경하기</button>
                    </form>
                    <hr>
                    <div class="text-center small mt-2" id="checkMsg" style="color: red"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" th:onclick="|location.href='@{/main/main}'|" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> 다음에 변경하기
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    $("#changePw").click(function () {
        let orgPw = $("#orgPw").val();
        let newPw = $("#newPw").val();
        let username = $("#username").val();

        $.ajax({
            type: "POST",
            url: "/account/changePw",
            data: {
                "orgPw": orgPw,
                "newPw": newPw,
                "username": username
            },
            success: function (res) {
                window.location.href = "/";
            }
        })
    })
</script>
</body>
</html>